* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

.headerhome {
    text-align: center;
    color: #12B00B;
    text-shadow: -2px -2px 0 #C6FC28, 2px -2px #C6FC28, -2px 2px #C6FC28, 2px 2px #C6FC28;
    background: #b00b69;
    font-size: 100px;
    flex: 30%;
}

.headermain {
    padding: 10px;
    text-align: center;
    color: #12B00B;
    text-shadow: -1px -1px 0 #C6FC28, 1px -1px #C6FC28, -1px 1px #C6FC28, 1px 1px #C6FC28;
    font-size: 40px;
    background: #b00b69;
}

.header1 {
    padding: 10px;
    text-align: center;
    color: yellow;
    text-shadow: -1px -1px 0 darkblue, 1px -1px darkblue, -1px 1px darkblue, 1px 1px darkblue;
    font-style: oblique;
    font-size: 60px;
    font-family: "Copperplate", fantasy;
}

.header2 {
    padding: 10px;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 rgb(176, 176, 197), 1px -1px darkblue, -1px 1px darkblue, 1px 1px darkblue;
    font-style: oblique;
    font-size: 40px;
    font-family: "Copperplate", fantasy;
}

.navbar {
    display: flex;
    background-color: #333;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    justify-content: center;
}

.fields {
    padding-left: 36%;
    padding-bottom: 10px;
    justify-content: center;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.button {
    display: flex;
    padding-left: 15%;
    height: 50px;
    justify-content: space-around;
}

.danger {
    color: white;
    background-color: darkred;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.success {
    color: white;
    background-color: darkgreen;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.primary {
    color: white;
    background-color: darkblue;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.alert {
    padding: 20px;
    text-align: center;
    background: white;
    border: 3px solid darkgreen;
    color: green;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

@media screen and (max-width: 700px) {
    .row,
    .navbar {
        flex-direction: column;
    }
}